.vm-wrapper {
  display: flex;
  align-items: center;
}

.vm-wrapper .vm {
  top: auto;
}

.vm {
  /*border-width: 4px;
  border-color: rgb(93, 211, 93);*/
  border-radius: 12px;
}

.vm-titlebar {
  background-color: rgb(245, 245, 245);
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
}

.vm-title {
  color: rgb(0, 0, 0);
  font-size: small;
}

.vm-btn-close:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.vm-btn-close:hover::before {
  color: rgb(122, 122, 122);
}
